@import "tailwindcss";
@theme {
}
@: root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 800;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #afafaf;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.main {
  background-color: #121212ff;
  padding: 2rem;
  border-radius: 12px;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 0 1rem #000000aa;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #f5f5f5ff;
} */
