/* .calendar {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.calendar-header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.calendar-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.table-header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.weekday {
  width: 100px;
  text-align: center;
}

.table-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.calendar-day {
  width: 50px;
  height: 20px;
  position: relative;
  border: 1px solid #a6a6a6;
}

.calendar-day:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.calendar-day p {
  position: absolute;
  right: 10px;
  color: #a6a6a6;
}

.current p {
  color: #000000;
}

.selected p {
  color: #cc0000;
  font-weight: bold;
} */

.table-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 days per row */
  grid-auto-rows: 35px; /* Adjust height as needed */
  border: 1px solid #a6a6a6;
}

.calendar-day {
  border: 1px solid #a6a6a6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8px;
  box-sizing: border-box;
  position: relative;
}

.calendar-day:hover {
  background-color: rgba(201, 200, 200, 0.67);
}

.calendar-day p {
  color: #a8a8a8ff;
  margin: 0;
}

.current p {
  color: #ffffffff;
}

.selected p {
  color: #cc0000;
  font-weight: bold;
}

.table-header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
