@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@theme {
  --color-primary: #d3d3d3;
  --color-secondary: #9333ea;
  --font-family-sans: "Quantico", sans-serif;
}

@layer base {
  :root {
    /* Base Theme */
    --background: 245 65% 10%;
    --foreground: 0 0% 98%;
    --card: 250 48% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 250 48% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 190 100% 44%;
    --primary-foreground: 245 65% 10%;
    --secondary: 270 35% 70%;
    --secondary-foreground: 245 65% 10%;
    --muted: 260 40% 30%;
    --muted-foreground: 0 0% 70%;
    --accent: 190 100% 44%;
    --accent-foreground: 245 65% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 250 48% 25%;
    --input: 250 48% 25%;
    --ring: 190 100% 44%;
    --radius: 1rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
